<a href="https://colab.research.google.com/github/AROMAL2059/-UEL-Intelligent-Systems-/blob/main/BCG_project_(Company_finacials).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/BCG-Project/BCG datset(learning) - Copy.xlsx')

In [ ]:
print(df)

  Comany Name    Fiscal Year  Total Revenue  Net Income  Total Assets  \
0       Apple  Sep. 30, 2023         383285       96995      352583.0
1       Apple  Sep. 24, 2022         394328       99803      352755.0
2       Apple  Sep. 25, 2021         365817       94680           NaN
3   Microsoft  Jun. 30, 2023         211915       72361      411976.0
4   Microsoft  Jun. 30, 2022         198270       72738      364840.0
5   Microsoft  Jun. 30, 2021         168088       61271           NaN
6       Tesla  Dec. 31, 2022          81462       12587       82338.0
7       Tesla  Dec. 31, 2021          53823        5644       62131.0
8       Tesla  Dec. 31, 2020          31536         862           NaN

   Total Liabilitites    Cash
0            290437.0  110543
1            302083.0  122151
2                 NaN  104038
3            205753.0   87582
4            198298.0   89035
5                 NaN   76740
6             36440.0   14724
7             30548.0   11497
8                 NaN    5943

In [ ]:
# Convert the list of dictionaries to a DataFrame


# Convert the 'Fiscal Year' column to datetime
df['Fiscal Year'] = pd.to_datetime(df['Fiscal Year'])

# Sort the data by 'Company Name' and 'Fiscal Year'
df_sorted = df.sort_values(by=['Comany Name', 'Fiscal Year'])

In [ ]:
print(df_sorted)

  Comany Name Fiscal Year  Total Revenue  Net Income  Total Assets  \
2       Apple  2021-09-25         365817       94680           NaN
1       Apple  2022-09-24         394328       99803      352755.0
0       Apple  2023-09-30         383285       96995      352583.0
5   Microsoft  2021-06-30         168088       61271           NaN
4   Microsoft  2022-06-30         198270       72738      364840.0
3   Microsoft  2023-06-30         211915       72361      411976.0
8       Tesla  2020-12-31          31536         862           NaN
7       Tesla  2021-12-31          53823        5644       62131.0
6       Tesla  2022-12-31          81462       12587       82338.0

   Total Liabilitites    Cash
2                 NaN  104038
1            302083.0  122151
0            290437.0  110543
5                 NaN   76740
4            198298.0   89035
3            205753.0   87582
8                 NaN    5943
7             30548.0   11497
6             36440.0   14724

In [ ]:
print(df.columns)

Index(['Comany Name', 'Fiscal Year', 'Total Revenue', 'Net Income',
       'Total Assets', 'Total Liabilitites', 'Cash'],
      dtype='object')

In [ ]:
# Filter the DataFrame for the specific companies
df_filtered = df_sorted[df_sorted['Comany Name'].isin(['Apple', 'Microsoft', 'Tesla'])]

# Calculate the growth rates
df_filtered['Revenue Growth (%)'] = df_filtered.groupby('Comany Name')['Total Revenue'].pct_change() * 100
df_filtered['Net Income Growth (%)'] = df_filtered.groupby('Comany Name')['Net Income'].pct_change() * 100

In [ ]:
print(df_filtered)

  Comany Name Fiscal Year  Total Revenue  Net Income  Total Assets  \
2       Apple  2021-09-25         365817       94680           NaN
1       Apple  2022-09-24         394328       99803      352755.0
0       Apple  2023-09-30         383285       96995      352583.0
5   Microsoft  2021-06-30         168088       61271           NaN
4   Microsoft  2022-06-30         198270       72738      364840.0
3   Microsoft  2023-06-30         211915       72361      411976.0
8       Tesla  2020-12-31          31536         862           NaN
7       Tesla  2021-12-31          53823        5644       62131.0
6       Tesla  2022-12-31          81462       12587       82338.0

   Total Liabilitites    Cash  Revenue Growth (%)  Net Income Growth (%)
2                 NaN  104038                 NaN                    NaN
1            302083.0  122151            7.793788               5.410858
0            290437.0  110543           -2.800461              -2.813543
5                 NaN   76740                 NaN                    NaN
4            198298.0   89035           17.956071              18.715216
3            205753.0   87582            6.882030              -0.518299
8                 NaN    5943                 NaN                    NaN
7             30548.0   11497           70.671613             554.756381
6             36440.0   14724           51.351653             123.015592

In [ ]:
df_filtered.fillna(0, inplace=True)

In [ ]:
print(C)

  Comany Name Fiscal Year  Total Revenue  Net Income  Total Assets  \
2       Apple  2021-09-25         365817       94680           0.0
1       Apple  2022-09-24         394328       99803      352755.0
0       Apple  2023-09-30         383285       96995      352583.0
5   Microsoft  2021-06-30         168088       61271           0.0
4   Microsoft  2022-06-30         198270       72738      364840.0
3   Microsoft  2023-06-30         211915       72361      411976.0
8       Tesla  2020-12-31          31536         862           0.0
7       Tesla  2021-12-31          53823        5644       62131.0
6       Tesla  2022-12-31          81462       12587       82338.0

   Total Liabilitites    Cash  Revenue Growth (%)  Net Income Growth (%)
2                 0.0  104038            0.000000               0.000000
1            302083.0  122151            7.793788               5.410858
0            290437.0  110543           -2.800461              -2.813543
5                 0.0   76740            0.000000               0.000000
4            198298.0   89035           17.956071              18.715216
3            205753.0   87582            6.882030              -0.518299
8                 0.0    5943            0.000000               0.000000
7             30548.0   11497           70.671613             554.756381
6             36440.0   14724           51.351653             123.015592

In [ ]:
summary = df_filtered.groupby('Comany Name').agg({
    'Revenue Growth (%)': 'mean',
    'Net Income Growth (%)': 'mean'
}).reset_index()

In [ ]:
print("\nYear-over-Year Average Growth Rates (%):")
print(summary)

Year-over-Year Average Growth Rates (%):
  Comany Name  Revenue Growth (%)  Net Income Growth (%)
0       Apple            1.664442               0.865772
1   Microsoft            8.279367               6.065639
2       Tesla           40.674422             225.923991

In [ ]:
# Step 1: Import libraries
import pandas as pd
from flask import Flask, request, jsonify



# Verify the DataFrame structure
print("DataFrame Structure:")
print(df_filtered)

# Step 3: Basic Chatbot Development
app = Flask(__name__)

# Chatbot logic
def get_response(query):
    try:
        if query.lower() == "what is the total revenue?":
            total_revenue = df_filtered['Total Revenue'].sum()
            return f"The total revenue is ${total_revenue}."
        elif query.lower() == "how has net income changed over the last year?":
            net_income_change = df_filtered['Net Income'].pct_change().iloc[-1] * 100
            return f"Net income has changed by {net_income_change:.2f}% over the last year."
        else:
            return "Sorry, I don't understand that query."
    except KeyError as e:
        return f"Error: Column {e} not found in the DataFrame."

@app.route('/chatbot', methods=['GET'])
def chatbot():
    query = request.args.get('query')
    response = get_response(query)
    return jsonify({'response': response})

# Run Flask app
from threading import Thread

def run_app():
    app.run(host='0.0.0.0', port=5000)

Thread(target=run_app).start()

# Interact with the chatbot
import requests

query = "What is the total revenue?"
response = requests.get(f'http://127.0.0.1:5000/chatbot?query={query}')
print(response.json())

INFO:werkzeug:127.0.0.1 - - [23/May/2024 12:49:43] "GET /chatbot?query=What%20is%20the%20total%20revenue? HTTP/1.1" 200 -

DataFrame Structure:
  Comany Name Fiscal Year  Total Revenue  Net Income  Total Assets  \
2       Apple  2021-09-25         365817       94680           0.0
1       Apple  2022-09-24         394328       99803      352755.0
0       Apple  2023-09-30         383285       96995      352583.0
5   Microsoft  2021-06-30         168088       61271           0.0
4   Microsoft  2022-06-30         198270       72738      364840.0
3   Microsoft  2023-06-30         211915       72361      411976.0
8       Tesla  2020-12-31          31536         862           0.0
7       Tesla  2021-12-31          53823        5644       62131.0
6       Tesla  2022-12-31          81462       12587       82338.0

   Total Liabilitites    Cash  Revenue Growth (%)  Net Income Growth (%)
2                 0.0  104038            0.000000               0.000000
1            302083.0  122151            7.793788               5.410858
0            290437.0  110543           -2.800461              -2.813543
5                 0.0   76740            0.000000               0.000000
4            198298.0   89035           17.956071              18.715216
3            205753.0   87582            6.882030              -0.518299
8                 0.0    5943            0.000000               0.000000
7             30548.0   11497           70.671613             554.756381
6             36440.0   14724           51.351653             123.015592
 * Serving Flask app '__main__'
{'response': 'The total revenue is $1888524.'}
 * Debug mode: off

Address already in use
Port 5000 is in use by another program. Either identify and stop that program, or start the server with a different port.